# Dotfiles / repo meta
/.gitignore               export-ignore
/.gitattributes           export-ignore
/.editorconfig            export-ignore
/.env*                    export-ignore
/node_modules/            export-ignore
/node/                    export-ignore

# Node / build configs & local dev
/.github/                 export-ignore
/CHANGELOG-DEV.md         export-ignore
/src/                     export-ignore
/types/                   export-ignore
/package.json             export-ignore
/package-lock.json        export-ignore
/tsconfig*.json           export-ignore