/* WP overrides */
.wp-block-cover {
    min-height: initial;
    padding: initial;
}

.wp-block-cover__inner-container {
    width: 100% !important;
    height: 100%;
}

.block-editor-block-list__block .block-editor-url-input,
.block-editor-url-input,
.components-popover .block-editor-url-input {
    min-width: initial;
    width: 100% !important;
}

.wp-block-button__link {
    background-color: inherit;
    color: inherit;

    .block-editor-inner-blocks {
        background-color: inherit;
        color: inherit;

        .block-editor-block-list__layout {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;
            background-color: inherit;
            color: inherit;

            & > * {
                margin-bottom: 0 !important;
            }
        }
    }
}

.wp-block-button {
    .wp-block-button__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 0.25rem;

        & > * {
            margin-bottom: 0;
        }
    }
}

.editor-styles-wrapper .is-layout-flex {
    flex-wrap: unset;
    align-items: unset;
    justify-content: unset;
}

.components-range-control {
    .components-range-control__root {
        padding-left: 6px; /* offset the width of the dot */
    }
}

.costered-blocks--inline-svg {
    svg {
        display: block;
    }
}

.components-base-control__label:empty {
    display: none;
}